<section class="banner1_section py-5 background2">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Started learning new technology</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi fuga quasi incidunt placeat laboriosam veritatis assumenda, mollitia dignissimos eum! Nulla totam nesciunt amet nemo rem dolores suscipit excepturi dolore sapiente.</p>
                <button class="btn btn-outline-primary">Start</button>
            </div>
        </div>
    </div>
</section>