<section class="footer background2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-4 ">
                        <p >Copyright ⓒ Priyanshu </p>
            </div>
        </div>
    </div>
</section>